.footer {
    padding: 4rem 2rem;
    background: black;
    border-top: 1px solid var(--card-border);
    margin-top: auto;
    text-align: center;
    color: #888;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.copy {
    font-size: 0.875rem;
}